[Desktop Entry]

Type=Application

Name=nulli3-mate
Exec=nulli3-mate

X-MATE-WMSettingsModule=nulli3-mate
X-MATE-WMName=nulli3-mate
X-MateWMSettingsLibrary=nulli3-mate
X-MATE-Autostart-Phase=WindowManager
X-MATE-Provides=windowmanager
X-MATE-Autostart-Notify=true

[X-Window Manager]
SessionManaged=true

