
style "chrome-gtk-frame"
{
  ChromeGtkFrame::frame-color = "#202020"
  ChromeGtkFrame::inactive-frame-color = "#121212"

  ChromeGtkFrame::frame-gradient-size = 16
  ChromeGtkFrame::frame-gradient-color = "#303030"

  ChromeGtkFrame::incognito-frame-color = lighter ("#202020")
  ChromeGtkFrame::incognito-inactive-frame-color = lighter ("#202020")

  ChromeGtkFrame::incognito-frame-gradient-size = 16
  ChromeGtkFrame::incognito-frame-gradient-color = "#303030"

  ChromeGtkFrame::scrollbar-trough-color = @bg_color
  ChromeGtkFrame::scrollbar-slider-prelight-color = shade (0.9, @selected_bg_color)
  ChromeGtkFrame::scrollbar-slider-normal-color = lighter (@base_color)
}

class "ChromeGtkFrame" style "chrome-gtk-frame"








