#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Name=nulli3
Comment="https://github.com/null--/nulli3"
Exec=/usr/bin/i3
TryExec=/usr/bin/i3
Name[en_US]=nulli3
